<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168585235874-13buft45nvhvucisiq44cd6kpkr88l7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168585235874-13buft45nvhvucisiq44cd6kpkr88l7c</string>
	<key>API_KEY</key>
	<string>AIzaSyDHnPydbolKM65DCGzJIwaJfWN8FeTilq0</string>
	<key>GCM_SENDER_ID</key>
	<string>168585235874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mstfblt806.MySecondApp.instacloneapp</string>
	<key>PROJECT_ID</key>
	<string>ioscloneapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ioscloneapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168585235874:ios:703c916166529f51c0f6fb</string>
</dict>
</plist>