<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085893666173-fabffdulm4ekkb7hol0k2lj6k4ofeuvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085893666173-fabffdulm4ekkb7hol0k2lj6k4ofeuvh</string>
	<key>API_KEY</key>
	<string>AIzaSyBJZjWrxNaQeJ0k0lUB6QHtfffICaAoduw</string>
	<key>GCM_SENDER_ID</key>
	<string>1085893666173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mstfblt806.MySecondApp.InstagramCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>iosclonefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>iosclonefirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085893666173:ios:32b2b53826a80368089814</string>
</dict>
</plist>